@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&display=swap");

$font: "Dongle", sans-serif;
$background-color: #ffffff;

.pizzaFrame {
  background-color: $background-color;
  position: absolute;
  width: 28vw;
  height: 75vh;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 40px;
  border: 4px solid #ffffff;

  h1 {
    font-family: $font;
    font-size: 2.8rem;
    text-align: center;
    align-items: center;
  }

  .imgBox {
    position: relative;
    overflow: hidden;
    width: 20vw;
    height: 32vh;
    border: 4px solid #ffffff;
    background-color: #656565;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 20px;

    .pizzaImg {
      position: relative;
      width: 20vw;
    }
  }

  .pizzaName{
    font-size: 2.4rem;
    text-align: center;
    font-family: $font;
    font-weight: 700;
  }
}
